<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>game </title>
</head>

<style>
    body {
        background-image: url('bgr.jpg');
        background-size: cover;
    }

</style>

<body>
<h1>game</h1>

<div style="float: right;" >
    <button type="radio" id="keo" name="keo" value="keo"><img src="download.jpg"/></button>
    <button type="radio" id="bua" name="bua" value="bua"><img src="download.jpg"/></button>
    <button type="radio" id="bao" name="bao" value="bao"><img src="download.jpg"/></button>
</div>
</body>
</html>